[% INCLUDE head.tt %]
Long URL: [% url.url | html %]<br />
Short URL: <a href="[% c.uri_for('/') %][% url.canon_path | html %]">[% c.uri_for('/') %][% url.canon_path | html %]</a><br />

<p><img src="[% c.uri_for('/qr/') %][% url.canon_path | html %]" /></p> 

[% INCLUDE footer.tt %]
